{% extends "base.html" %}

{% block pageHeader %}
    <div class="header">
        <h1>About</h1>
    </div>
{% endblock pageHeader %}


{% block mainContent %}
    <div class="link-section">
        <h3>Django Admin pages</h3>
        <p><a href="/admin/" target="_blank">Admin pages</a></p>
    </div>

    <div class="link-section">
        <h3>Render</h3>
        <p><a href="https://dashboard.render.com" target="_blank">Render dashboard</a></p>
        <p><a href="https://testdriven.io/blog/django-render/" target="_blank">Render tutorial</a></p>
    </div>

{% endblock mainContent %}
